<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Crypted password:</strong>
  *****
</p>

<p>
  <strong>Salt:</strong>
  *****
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Home', root_path %>
